/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-color: blue;
}

.DatePicker {
    -fx-font-size: 16px;
}

.Button:hover {
    -fx-background-color: #1FAFBF;
    -fx-text-fill: #ffffff;
}
